{
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-underscore-dangle": "off"
  },
  "env": {
    "mocha": true,
    "node": true,
    "amd": true
  }
}